<!DOCTYPE htm>

<html>
    <head>
        <title>About</title> {{!-- this is the title that will show up on the tab --}}
        <link rel="icon" href = "/img/weather.png">
        <link rel="stylesheet" href = "/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site uses data from mapbox.com to convert the city name/zip code into its exact geographical coordinates. From there, the data from weatherstack.com is used to find the current weather at that geographical location</p>
            {{!-- <img class="portrait" src="/img/me.jpg"> --}}
        </div>
        {{>footer}}
    </body>
</html>