<!DOCTYPE html>

<html>
    <head>
        <title>Help</title> {{!-- this is the title that will show up on the tab --}}
        <link rel="icon" href = "/img/weather.png">
        <link rel="stylesheet" href = "/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{description}}</p>
        </div>
        {{>footer}}
    </body>
</html>